body {
    text-align: center;
}
#wrapper {
    text-align: left;
    margin: 20px auto;
    width: 600px;
}

label {

}
input, textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 15px;
}
